*{
    margin: 20px;
    padding: 0px;

}

table{  
	width: 35%;
	margin: auto;
	background-image: url('wooden-background.jpg');
    margin-top: 40px;
}

table, th, td {
   border: 2px solid black;
   box-shadow: 20px 1px 71px #8B5A2B;  
}

input {
    outline: 0;
    cursor: pointer;
    opacity: 0;
}

button {
    background-color: #8B5A2B;
    color: #CD853F;
    border: 2px solid black;
    cursor:pointer;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 35px;
    margin-top: 18px;

}



body {
    height: 100%;
    margin-top: 0 !important;
    padding: 0 !important;
    margin-left: 0px;
    margin-right: 0px;  
}

.content {
    background-color: #CD853F;
    height:100%;
}

#board table{
    min-width: 400px;

}

.board-name {
    background-color: #87CEFA;
}

.board-name p {
	
    color: #CD853F;
    margin-top: 0px;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    font-weight: bolder;
}

#board {
    margin-top: -40px;
    padding: 1px;
}


.square{
    width:100px;
    height:100px; 
    text-align: center;
    font-family: Verdana;
    font-weight: bolder;
    font-size: 40px;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

#winner {
    display: none;
    text-align: center;
    background-color: #87CEFA;
}

.newGame{
    background-color:#87CEFA;
    margin-top: -20px;
    height:100px;
    text-align: center;

}