*{
    margin: 0px;
    padding: 0px;
}

table{  
	width: 35%;
	margin: auto;
	background-image: url('wooden-background.jpg');
    margin-top: 40px;
}

input {
    outline: 0;
    cursor: pointer;
    opacity: 0;
}

button {
 background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    cursor: pointer;
}

body {
    background-color: #CD853F;
    margin-top: 0 !important;
    padding: 0 !important;
    margin-left: 0px;
    margin-right: 0px;  
}

.board-name {
    background-color: #87CEFA;
}

.board-name p {
	
    color: #CD853F;
    margin-top: 0px;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    font-weight: bolder;
}


.square{
    width:100px;
    height:100px;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}